<!--The content below is only a placeholder and can be replaced.-->
<!-- 
<div style="text-align:center">
  <h1>Welcome</h1>
  <h3>
    <div class="container">
      <table class="table table-dark">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Age</th>        
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sindhu</td>
            <td>22</td>
          </tr>
          <tr>
            <td>Sachin</td>
            <td>19</td>        
          </tr>
          <tr>
            <td>Savinaya</td>
            <td>20</td>        
          </tr>
        </tbody>
      </table>
    </div> -->




    <form>
      <div style="text-align:center">
        <h1>Login Form</h1><br>
        Name:<input type="text" name="name" placeholder="enter name"><br><br>
       Password: <input type="password" name="password" placeholder="enter password"><br><br>
       <input type="submit" name="submit">
      </div>
    </form>