<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#ff4da6;
   color:white;
}

</style>
</head>
<body>
<footer>

<div class="footer">
  
  <p> <a href="page2.html">About us</a></p>
  <p> <a href="contactUs.html">Contact us 24/7 </a></p>
  <p><a href="page3.html">General Stores</a></p>
  <p text-align =right>Copyright &#169;2019 Pharmacy Market Place Limited </p>
</div>
</footer>
  
</body>
</html>