 <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #C4DBF6;
}

.topnav a {
  float: left;
  color: #272323;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(9, 113, 231);
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="topnav" >
  <a  href="#home">BabyCare</a>
  <a href="#news">BodyCare</a>
  <a href="#contact">HairCare</a>
  <a href="#about">SkinCare</a>
  <a href="#about">Medicine</a>
</div>






 

<carousel>
  <slide>
    <img src="assets/10.png" alt="first slide" style="display: block; width: 100%; height:450px;">
  </slide>
  <slide>
    <img src="assets/2.jpg" alt="second slide" style="display: block; width: 100%; height:450px;">
  </slide>
  <slide>
    <img src="assets/3.jpg" alt="third slide" style="display: block; width: 100%; height:450px;">
  </slide>
  <slide>
      <img src="assets/11.jpg" alt="third slide" style="display: block; width: 100%; height:450px;">
    </slide>
</carousel>

<h1 align="center"><b>Babycare</b></h1>

<div class="container-fluid" >
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="feature-gallery">
                            <img class="thumb" src="assets/baby7.jpg" alt="" title="">
                            <div class="fg-overlay">
                                <h2>Pampers Premium Care</h2><br>
                                <p>Get flat Rs. 200 Paytm cashback. Place 2 orders for min Rs. 750 each, within 30 days and pay using Paytm wallet to avail the offer. *T&C</p>
                            </div>
                        </div>
                    </div>
                    <!--/feature-gallery--->

                    <div class="col-md-3 col-sm-3">
                        <div class="feature-gallery">
                            <img class="thumb" src="assets/baby1.jpg" alt="" title="">
                            <div class="fg-overlay">
                                <h2>Baby Massage Oil</h2><br>
                                <p>Baby Dove Rich Moisture Baby Massage Oil 200ML.</p>
                            </div>
                        </div>
                    </div>
                    <!--/feature-gallery--->

                    <div class="col-md-3 col-sm-3">
                        <div class="feature-gallery">
                            <img class="thumb" src="assets/baby2.jpg" alt="" title="">
                            <div class="fg-overlay">
                                <h2>Huggies wonder pants</h2><br>
                                <p>Huggies wonder pants L 60 S.</p>
                            </div>
                        </div>
                    </div>
                    <!--/feature-gallery--->

                    <div class="col-md-3 col-sm-3">
                        <div class="feature-gallery">
                            <img class="thumb" src="assets/baby4.jpg" alt="" title="">
                            <div class="fg-overlay">
                                <h2>Pampers pants</h2><br>
                                <p>Pampers pants S 86S</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>

                    <!--/feature-gallery--->
                    <h1 align="center"><b>Bodycare</b></h1>

                    <div class="container-fluid" >
                        <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="feature-gallery">
                            <img class="thumb" src="assets/body1.jpg" alt="" title="">
                            <div class="fg-overlay">
                                <h2>D'Vence Aloe Vera Gel</h2><br>
                                <p>St. D'Vence Aloe Vera Gel 275 ml.</p>
                            </div>
                        </div>
                    </div>
                    <!--/feature-gallery--->

                    <div class="col-md-3 col-sm-3">
                        <div class="feature-gallery">
                            <img class="thumb" src="assets/body3.jpg" alt="" title="">
                            <div class="fg-overlay">
                                <h2>Himalay  Body Lotion</h2><br>
                                <p>Himalaya Nourishing Body Lotion - Aloe Vera & Winter Cherry 200 ml.</p>
                            </div>
                        </div>
                    </div>
                    <!--/feature-gallery--->

                    <div class="col-md-3 col-sm-3">
                        <div class="feature-gallery">
                            <img class="thumb" src="assets/body4.jpg" alt="" title="">
                            <div class="fg-overlay">
                                <h2>Fair and Lovely Face wash</h2> <br>
                                <p>Fairness like a salon facial, everyday 200 ML.</p>
                            </div>
                        </div>
                    </div>
                    <!--/feature-gallery--->

                    <div class="col-md-3 col-sm-3">
                        <div class="feature-gallery">
                            <img class="thumb" src="assets/body6.jpg" alt="" title="">
                            <div class="fg-overlay">
                                <h2>Fair and Handsome</h2><br>
                                <p>Fair and Handsome Fairness Cream For Men 150 ML.</p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h1 align="center"><b>Haircare</b></h1>

                    <!--/feature-gallery--->

                    <div class="container-fluid" >
                        <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="feature-gallery">
                            <img class="thumb" src="assets/hair1.jpg" alt="" title="">
                            <div class="fg-overlay">
                                <h2>Set Wet</h2><br>
                                <p>Set Wet Beard Styling Gel-100ml.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="feature-gallery">
                            <img class="thumb" src="assets/hair2.jpg" alt="" title="">
                            <div class="fg-overlay">
                                <h2>Head & Shoulders</h2><br>
                                <p>Head & Shoulders Smooth & Silky Shampoo 180 ml.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="feature-gallery">
                            <img class="thumb" src="assets/hair3.jpg" alt="" title="">
                            <div class="fg-overlay">
                                <h2>Garnier color</h2><br>
                                <p>Garnier Color Naturals Cream - 6.60 Intense Red (70 ml + 40 gm).</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="feature-gallery">
                            <img class="thumb" src="assets/hair4.jpg" alt="" title="">
                            <div class="fg-overlay">
                                <h2>Parachute oil</h2><br>
                                <p>Parachute Advansed Aloe Vera Hair Oil 250 ml.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 align="center"><b>SkinCare</b></h1>

            <div class="container-fluid" >
                <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="feature-gallery">
                    <img class="thumb" src="assets/skin1.jpg" alt="" title="">
                    <div class="fg-overlay">
                        <h2>Lotus Cream</h2><br>
                        <p>Lotus Herbals Sheamoist Shea Butter & Real Strawberry 24Hr Moisturiser 120 gm.</p>
                    </div>
                </div>
            </div>
            <!--/feature-gallery--->

            <div class="col-md-3 col-sm-3">
                <div class="feature-gallery">
                    <img class="thumb" src="assets/skin2.jpg" alt="" title="">
                    <div class="fg-overlay">
                        <h2>A CN Soap</h2><br>
                        <p>A CN Soap 75gm.</p>
                    </div>
                </div>
            </div>
            <!--/feature-gallery--->

            <div class="col-md-3 col-sm-3">
                <div class="feature-gallery">
                    <img class="thumb" src="assets/skin3.jpg" alt="" title="">
                    <div class="fg-overlay">
                        <h2>Lakme Cream</h2><br>
                        <p>Lakme 9 to 5 Complexion Care Face Cream - Bronze 30 gm.</p>
                    </div>
                </div>
            </div>
            <!--/feature-gallery--->

            <div class="col-md-3 col-sm-3">
                <div class="feature-gallery">
                    <img class="thumb" src="assets/skin4.jpg" alt="" title="">
                    <div class="fg-overlay">
                        <h2>Olay</h2><br>
                        <p>Olay Moisturizing Cream 50 gm.</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <h1 align="center"><b>Medicine</b></h1>

          <div class="container-fluid" >
              <div class="row">
          <div class="col-md-3 col-sm-3">
              <div class="feature-gallery">
                  <img class="thumb" src="assets/med1.jpg" alt="" title="">
                  <div class="fg-overlay">
                      <h2>Saridon</h2><br>
                      <p>Saridon 100 Mg.</p>
                  </div>
              </div>
          </div>
          <!--/feature-gallery--->

          <div class="col-md-3 col-sm-3">
              <div class="feature-gallery">
                  <img class="thumb" src="assets/med2.jpg" alt="" title="">
                  <div class="fg-overlay">
                      <h2>Coldact</h2><br>
                      <p>Allergy Cold Tablet 2.5 Mg-60 Mg.</p>
                  </div>
              </div>
          </div>
          <!--/feature-gallery--->

          <div class="col-md-3 col-sm-3">
              <div class="feature-gallery">
                  <img class="thumb" src="assets/med3.jpg" alt="" title="">
                  <div class="fg-overlay">
                      <h2>Muvera</h2><br>
                      <p>Muvera 7.5MG TAB.</p>
                  </div>
              </div>
          </div>
          <!--/feature-gallery--->

          <div class="col-md-3 col-sm-3">
              <div class="feature-gallery">
                  <img class="thumb" src="assets/med4.jpg" alt="" title="">
                  <div class="fg-overlay">
                      <h2>Volini Spray</h2><br>
                      <p>Volini Spray - 40 g.</p>
                  </div>
              </div>
            </div>
          </div>
        </div>